/* Global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* Main */

.main {
    display: flex;
    flex-direction: row;
    margin: 50px auto;
    width: 800px;
    height: 500px;
    background-color: #F1E8E6;
    border-radius: 25px;
    box-shadow: 5px 20px 40px 5px rgba(0, 0, 0, 0.25);
}

/* Left */

.main .welcome {
    width: 349px;
    height: 500px;
    background-color: #F55951;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main .welcome h1 {
    font-size: 45px; 
    font-weight: 400; 
    cursor: pointer; 
}

.main .welcome p {
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}

/* Right */

.main form {
    width: 451px;
}

.main form h1 {
    font-size: 32px;
    font-weight: 400;
    color: #393939;
    margin: 30px 0 22px 30px;
    cursor: pointer;
}

.fullname, .city-postal {
    display: flex;
}

.main form label {
    font-size: 15px;
    font-weight: 400;
    margin-left: 30px;
    color: #393939;
    cursor: pointer;
}

.main form input {
    height: 30px;
    background-color: #FFFFFF;
    outline: none;
    border: solid 1px #D6D6D6;
    margin: 2px 0 22px 30px;
    padding-left: 10px;
    color: #686868;
    border-radius: 5px;
}

::placeholder {
    color: #686868;
}

.main form #fn, #ln, #city, #postalcode {
    width: 161px;
}

.main form #email, #address {
    width: 352px;
}

.main form button {
    width: 90px;
    height: 30px;
    background-color: #4D3749;
    border: none;
    border-radius: 25px;
    margin-top: 22px;
    float: right;
    transform: translateX(-71px);
    
}
.main form button a {
    width: 90px;
    height: 30px;
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

